<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Productive Garden</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body class="garden-mode">
  <div id="errorLog" class="hidden">
    <h3><span id="errorMessage"></span></h3>
  </div>

  <nav>
    <a href="/login"><img id="logo" src="/assets/img/gardener.png" alt="face logo"/></a>
    <div class="navlink"><button id="buySpaceBtn">Buy More Space 🌱</button></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">
  </section>

  <script src="/assets/appBundle.js"></script>
</body>
</html>
