<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Productive Garden</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div id="errorLog" class="hidden">
    <h3><span id="errorMessage"></span></h3>
  </div>

  <nav>
    <a href="/garden"><img id="logo" src="/assets/img/gardener.png" alt="garden logo"/></a>
    <div class="navlink"><a href="/garden">Garden</a></div>
    <div class="navlink"><a href="/logout">Logout</a></div>
  </nav>

  <section id="content"></section>

  <script src="/assets/changeBundle.js"></script>
</body>
</html>
